      <div class="text-xs-center">  
        <hr />
        <p>Did you know that in most circumstances, if a GO Train is late 15 minutes or more, you can get a refund on your trip? Not many people do. But now you do.</p>
      </div>
      <div id="refund" class="card">
        <div class="card-block">
          <h3>Refund My Trip</h3>
          <hr />
          <form id="refund-form">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <fieldset class="form-group">
                  <label for="email">PRESTO Card Number</label>
                  <input name="pc_number" type="text" class="form-control" id="prestocard_number" placeholder="PRESTO Card Number">
                </fieldset>
              </div>
              <div class="col-sm-6 col-xs-12">
                <fieldset class="form-group">
                  <label for="email">Email address</label>
                  <input name="email" type="email" class="form-control" id="email" placeholder="Email Address">
                </fieldset>
              </div>
              <div class="col-sm-3 col-xs-6">
                <fieldset class="form-group">
                  <label for="date">When did you travel...</label>
                  <input name="travel_date" type="text" class="form-control" id="datepicker" placeholder="Date of Travel">
                </fieldset>
              </div>
              <div class="col-sm-3 col-xs-6">
                <fieldset class="form-group">
                  <label for="depart_station">... where did you depart from...</label>
                  <select name="from_station" class="form-control" id="depart_station">
                    <option value="" disabled selected>Select your departing station</option>
                    {% for s in stops %}
                      <option value="{{s.stop_id}}">{{s.stop_name}}</option>
                    {% endfor %}
                  </select>
                </fieldset>
              </div>
              <div class="col-sm-3 col-xs-6">
                <fieldset class="form-group">
                  <label for="depart_time">... at what time ...</label>
                  <select name="travel_time" class="form-control" id="depart_time">
                    <option value="" disabled selected>Time departed</option>
                  </select>
                </fieldset>
              </div>
              <div class="col-sm-3 col-xs-6">
                <fieldset class="form-group">
                  <label for="arrival_station">... and where did you arrive?</label>
                  <select name="to_station"class="form-control" id="arrival_station">
                    <option value="" disabled selected>Arrival Station</option>
                  </select>
                </fieldset>
              </div>
              <div class="col-sm-12 col-xs-12">
                <fieldset class="form-group">
                  <small class="text-muted">We don't store any personally indentifiable information. Find out <a data-toggle="modal" data-target="#refund-modal-info" href="#">more</a>.</small>
                </fieldset>
                <button type="submit" class="btn btn-primary pull-sm-right">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="refund-modal-info" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">About the data we collect</h4>
            </div>
            <div class="modal-body">
              <p>We don't want your info - we just want to measure and analyze data with respect to Go Transit delays. We specifically collect: date travelled, departing/arriving stations and departure time. That's it.</p>

              <p>With this crowd-sourced data, we can help alert you and others to what trips refunds are being submitted for - so that you can claim yours too!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->