<div class="row">
	<div class="col-sm-12">
		<h2>Tweets from @GOTransit - By The Numbers</h2>
		<h6>Number of times some keywords have been mentioned since {{ since }}</h6>
	</div>
	<div class="col-sm-3">
		<div class="card">
      <div class="card-block">
      	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Out_of_date_clock_icon.svg/256px-Out_of_date_clock_icon.svg.png">
				<h1>{{ words.delay }}</h1>
				<p>'delay' is mentioned</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
      <div class="card-block">
      	<img src="https://image.freepik.com/free-icon/businessman-running-fast-with-suitcase-in-right-hand_318-62442.png">
				<h1>{{ words.late }}</h1>
				<p>'late' is mentioned</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
      <div class="card-block">
      	<img src="https://img.nozbe.com/img/__new/press-nozbe-icon-512.png">
				<h1>{{ words.ontime }}</h1>
				<p>'on time' is mentioned</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
      <div class="card-block">
      	<img src="http://www.customstamps.com/Images/Products/BUTE_1006_Main.png">
				<h1>{{ words.sorry }}</h1>
				<p>'sorry' is mentioned</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
      <div class="card-block">
      	<img src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/error_warning_alert_attention-512.png">
				<h1>{{ words.problem }}</h1>
				<p>'problem' is mentioned</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
      <div class="card-block">
      	<img src="https://www.lds.org/bc/content/shared/content/images/gospel-library/manual/35681/35681_all_034_01-switch.gif">
				<h1>{{ words.switch }}</h1>
				<p>'switch' is mentioned</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
      <div class="card-block">
      	<img src="https://www.wpclipart.com/travel/large_traffic_lights/traffic_signal_large_all_colors_night.png">
				<h1>{{ words.signal }}</h1>
				<p>'signal' is mentioned</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
      <div class="card-block">
      	<img src="https://www.botb.com/Assets/NonFlash/Images/general_user_error_icon.png">
				<h1>{{ words.issue }}</h1>
				<p>'issue' is mentioned</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
      <div class="card-block">
      	<img src="http://wordassociations.ru/image/200x/svg_to_png/Arnoud999_Right_or_wrong_5.png">
				<h1>{{ words.cancel }}</h1>
				<p>'cancel' is mentioned</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
      <div class="card-block">
      	<img src="http://bighospitality.com.au/sites/bighospi/files/imagecache/product_full/product/IW-104.jpg">
				<h1>{{ words.oos }}</h1>
				<p>'out of service' is mentioned</p>
			</div>
		</div>
	</div>
</div>