<div class="row">
  	<div class="col-sm-12">
      <h2>What is this?</h2>
      <p style="margin-top: 20px">We've heard it all.</p>
      <p>"We'll be holding at X station due to signal problems, switch problems, a problem at track level, congestion up ahead, waiting on a signal, etc."</p>
      <p>The excuses are endless. <a href="http://www.gotransit.com/public/en/news/fares2016.aspx" target="_blank">And another increase has just come into effect.</a></p>
      <p>Did you know that in most circumstances, if a GO Train is late 15 minutes or more, you can get a refund on your trip? Not many people do. But now you do.</p>
      <p>People are most likely to complete a Service Guarantee while they're on that late train. Except, GO Transit's mobile site does not make it easy to do this. You need to click through a series of questions and then at the end of it, are taken to a non-mobile optimized form to submit a claim. By the time, you make it to your destination, the last thing you want to do is fill out a form. You have a job to do. You have a family to spend time with.</p>
      <p>Fill out our mobile optimized form and we'll submit it to GO Transit for you.</p>
      <p>We don't keep your personal information - only data related to your trip.</p>
      <p>With this data, we can alert others that this trip may be eligible for a refund so that they may submit their claim too.</p>
    </div>
  </div>