{% extends "api_layout.html" %}
{% block body %}
      <div class="jumbotron">
        <h1>Transit API</h1>
        <p class="lead">Quickly build apps to see how your favourite trains are running.  Built by <a href="http://propellerhead.ca/">Propellerhead Labs</a> in Toronto Canada.</p>
        <p><a class="btn btn-lg btn-success" href="/keys" role="button">Get Started</a></p>
      </div>
			
			<div class="row">
					<div class="col-lg-6">
			          <h4>Fast</h4>
			          <p>Written in Python and Mysql, tuned for performance.</p>

			          <h4>Curent</h4>
			          <p>We keep the APIs current so you don't have to.</p>

			         
			        </div>
							
							<div class="col-lg-6">
							
					          <h4>Multi-faceted</h4>
					          <p>We provide 12 different endpoints for the API</p>

					          <h4>Growing</h4>
					          <p>We're alpha testing with one, but we'll add more as we go.</p>

					        </div>
							
			</div>

{% endblock %}