{% extends "layout.html" %}
{% block body %}

<div class="row">
	<div class="col-sm-8">
		<h5># of times @GoTransit tweets 'delay': {{ words.delay }}</h5>
		<h5># of times @GoTransit tweets 'sorry': {{ words.sorry }}</h5>
		<h5># of times @GoTransit tweets 'switch': {{ words.switch }}</h5>
		<h5># of times @GoTransit tweets 'signal': {{ words.signal }}</h5>
		<h5># of times @GoTransit tweets 'problem': {{ words.problem }}</h5>
		<h5># of times @GoTransit tweets 'issue': {{ words.issue}}</h5>
		<h5># of times @GoTransit tweets 'cancel': {{ words.cancel}}</h5>
		<h5># of times @GoTransit tweets 'out of service': {{ words.oos}}</h5>
	</div>
	<div class="col-sm-4">
	    {% include '_refund_widget.html' %}
	</div>
</div>

{% endblock %}