{% extends "layout.html" %}
{% block body %}
      <h1>Refund</h1>
      <div class="jumbotron">
        <form>
          <fieldset class="form-group">
            <label for="email">PRESTO Card Number</label>
            <input type="text" class="form-control" id="prestocard_number" placeholder="Enter PRESTO Card Number">
            <div class="checkbox">
              <label>
                 <small><input type="checkbox"> Save for future refunds</small>
              </label>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
            <div class="checkbox">
              <label>
                 <small><input type="checkbox"> Save for future refunds</small>
              </label>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <label for="date">Date of Travel</label>
            <input type="text" class="form-control" id="datepicker" placeholder="Date of Travel">
          </fieldset>
          
          <fieldset class="form-group">
            <label for="depart_station">Departing Station</label>
            <select class="form-control" id="depart_station">
              <option value="" disabled selected>Select your departing station</option>
              {% for s in stops %}
                <option value="{{s.stop_id}}">{{s.stop_name}}</option>
              {% endfor %}
            </select>
          </fieldset>
          <fieldset class="form-group">
            <label for="arrival_station">Arrival Station</label>
            <select class="form-control" id="arrival_station">
              
            </select>
          </fieldset>
          <fieldset class="form-group">
            <label for="depart_time">Time Departed</label>
            <select class="form-control" id="depart_time">
              
            </select>
          </fieldset>

          <fieldset class="form-group">
            <small class="text-muted">We'll never share the information you enter with anyone else. We only keep refund data associated with date travelled, departing/arriving stations and departure time for reporting/analyzing Go Transit delays.</small>
          </fieldset>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
{% endblock %}