{% extends "api_layout.html" %}
{% block body %}
      
			
			<div class="row">
					<div class="col-lg-6">
			    		 <h1>Status</h1>
					 
					 </div>
							
			</div>
		<div class="row">
		    <div class="col-md-4">
		        <div class="panel panel-primary">
		            <div class="panel-heading">
		                <h4 class="panel-title">Just Launching!</h4>
		            </div>
		          
		        </div>
		    </div>
		    <div class="col-md-4">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">Recently Added Feeds</h4>
		            </div>
		            <div class="panel-body tf-updates-list">
		                                                        <div>
		                        <a href="/p/athens-urban-transport-organisation/580">ΟΑΣΑ GTFS</a>
		                        <small class="text-muted">(GTFS)</small>
		                        <p class="text-muted">
		                            <small>
		                                Sunday, 13 Dec 2015, <a href="/l/432-athens-greece">Athens, Greece</a>
		                            </small>
		                        </p>
		                    </div>
		                                                            <hr>
		                                        <div>
		                        <a href="/p/ac-transit/579">AC Transit Vehicle Positions</a>
		                        <small class="text-muted">(GTFS-RealTime)</small>
		                        <p class="text-muted">
		                            <small>
		                                Tuesday, 8 Dec 2015, <a href="/l/69-oakland-ca-usa">Oakland, CA, USA</a>
		                            </small>
		                        </p>
		                    </div>
		                                                            <hr>
		                                        <div>
		                        <a href="/p/ac-transit/578">AC Transit Service Alerts</a>
		                        <small class="text-muted">(GTFS-RealTime)</small>
		                        <p class="text-muted">
		                            <small>
		                                Tuesday, 8 Dec 2015, <a href="/l/69-oakland-ca-usa">Oakland, CA, USA</a>
		                            </small>
		                        </p>
		                    </div>
		                                                            <hr>
		                                        <div>
		                        <a href="/p/ac-transit/577">AC Transit Trip Updates</a>
		                        <small class="text-muted">(GTFS-RealTime)</small>
		                        <p class="text-muted">
		                            <small>
		                                Tuesday, 8 Dec 2015, <a href="/l/69-oakland-ca-usa">Oakland, CA, USA</a>
		                            </small>
		                        </p>
		                    </div>
		                                                            <hr>
		                                        <div>
		                        <a href="/p/edmonton-transit-system/576">ETS Vehicle Positions</a>
		                        <small class="text-muted">(GTFS-RealTime)</small>
		                        <p class="text-muted">
		                            <small>
		                                Tuesday, 8 Dec 2015, <a href="/l/43-edmonton-ab-canada">Edmonton, AB, Canada</a>
		                            </small>
		                        </p>
		                    </div>
		                                                            <hr>
		                                        <div>
		                        <a href="/p/edmonton-transit-system/575">ETA Trip Updates</a>
		                        <small class="text-muted">(GTFS-RealTime)</small>
		                        <p class="text-muted">
		                            <small>
		                                Tuesday, 8 Dec 2015, <a href="/l/43-edmonton-ab-canada">Edmonton, AB, Canada</a>
		                            </small>
		                        </p>
		                    </div>
		                                                            <hr>
		                                        <div>
		                        <a href="/p/regional-transportation-agency-of-central-maryland/574">RTA Maryland</a>
		                        <small class="text-muted">(GTFS)</small>
		                        <p class="text-muted">
		                            <small>
		                                Monday, 7 Dec 2015, <a href="/l/133-maryland-usa">Maryland, USA</a>
		                            </small>
		                        </p>
		                    </div>
		                                                            <hr>
		                                        <div>
		                        <a href="/p/ocean-city-transportation/573">Ocean City Transportation GTFS</a>
		                        <small class="text-muted">(GTFS)</small>
		                        <p class="text-muted">
		                            <small>
		                                Monday, 7 Dec 2015, <a href="/l/430-ocean-city-md-usa">Ocean City, MD, USA</a>
		                            </small>
		                        </p>
		                    </div>
		                                                            <hr>
		                                        <div>
		                        <a href="/p/harford-transit/572">Harford Transit LINK GTFS</a>
		                        <small class="text-muted">(GTFS)</small>
		                        <p class="text-muted">
		                            <small>
		                                Monday, 7 Dec 2015, <a href="/l/429-harford-county-md-usa">Harford County, MD, USA</a>
		                            </small>
		                        </p>
		                    </div>
		                                                            <hr>
		                                        <div>
		                        <a href="/p/county-ride/571">County Ride GTFS</a>
		                        <small class="text-muted">(GTFS)</small>
		                        <p class="text-muted">
		                            <small>
		                                Monday, 7 Dec 2015, <a href="/l/428-queen-anne-s-county-md-usa">Queen Anne's County, MD, USA</a>
		                            </small>
		                        </p>
		                    </div>
		                            </div>
		            <div class="panel-footer">
		                <a href="/feeds">View all feeds…</a>
		            </div>
		        </div>
		    </div>
		    <div class="col-md-4">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">Recent Data Updates</h4>
		            </div>
		            <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 100%; height: 600px; padding: 0px; border: none; max-width: 520px; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;" data-widget-id="395181152870232066" data-user-id="2148084618" title="Twitter Timeline"></iframe>

		            <div class="panel-footer">
		                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="http://platform.twitter.com/widgets/follow_button.ab4ec33f73214445796a87ce54aee452.en.html#_=1450119084128&amp;dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=TransitFeeds&amp;show_count=false&amp;show_screen_name=true&amp;size=l" style="position: static; visibility: visible; width: 173px; height: 28px;" data-screen-name="TransitFeeds"></iframe>
		            </div>
		        </div>
		    </div>
		</div>
			

{% endblock %}